@charset "UTF-8";


* {
    font-family:  Consolas, monaco;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #6e4924;
    height: 100vh; /*altura*/
    width: 100vw;  /*largura*/
}


main {
    background-image: linear-gradient(#6e4924, black);
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.shop {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width:100px;
    height: 100x;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}



section.shop > div.imagem1 {
    display: block;
    background: #31241c url(https://media.timeout.com/images/100004615/image.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section.shop > div.imagem2 {
    display: block;
    background: #31241c url(https://media.timeout.com/images/100004615/image.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}


section.shop > div.formulario {
    text-align: center;
    display: block;
    padding: 15px;
    background-position: center;
}

div.formulario > h1 {
    font-family:  Consolas, monaco, monospac;
    color: #31241c;
    margin: 10px;
}


form > div.campo {
    background-color: #31241c;
    border: 2px solid #31241c;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0px;
}

div.campo > label {
    display: none;
}


div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}


div.campo > input {
    background-color: white;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6e4924;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

form > input.placeholder {
    color:#6e4924;
}


form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: white;
    color: c;
    border: 1px solid #6e4924;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6e4924;
}

form > a.botao > i {
    font-size: 0.8em;
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: white;
    color: black;
    box-sizing: border-box;
}


footer > a {
    display: inline-block;
    justify-content: right;
    width: 20px;
    height: 20px;
    margin: 15px;
}
